{% extends 'index.html' %}
{% load static %}
{% block content %}
    <main>
        <img src="{% static 'img/background.png' %}" class="parallax bg-img">
        <img src="{% static 'img/black_shadow.png' %}" class="black-shadow">
        <img src="{% static 'img/fog_1.png' %}" class="parallax fog-1">
        <img src="{% static 'img/fog_2.png' %}" class="parallax fog-2">
        <img src="{% static 'img/fog_3.png' %}" class="parallax fog-3">
        <img src="{% static 'img/fog_4.png' %}" class="parallax fog-4">
        <img src="{% static 'img/fog_5.png' %}" class="parallax fog-5">
        <img src="{% static 'img/fog_6.png' %}" class="parallax fog-6">
        <img src="{% static 'img/fog_7.png' %}" class="parallax fog-7">
        <!-- <img src="{% static 'img/logo.png' %}" alt=""> -->
        <img src="{% static 'img/mountain_1.png' %}" class="parallax mountain-1">
        <img src="{% static 'img/mountain_2.png' %}" class="parallax mountain-2">
        <img src="{% static 'img/mountain_3.png' %}" class="parallax mountain-3">
        <img src="{% static 'img/mountain_4.png' %}" class="parallax mountain-4">
        <img src="{% static 'img/mountain_5.png' %}" class="parallax mountain-5">
        <img src="{% static 'img/mountain_6.png' %}" class="parallax mountain-6">
        <img src="{% static 'img/mountain_7.png' %}" class="parallax mountain-7">
        <img src="{% static 'img/mountain_8.png' %}" class="parallax mountain-8">
        <img src="{% static 'img/mountain_9.png' %}" class="parallax mountain-9">
        <img src="{% static 'img/mountain_10.png' %}" class="parallax mountain-10">
        <img src="{% static 'img/sun_rays.png' %}" class="sun-rays">
    </main>
{% endblock %}