{% extends 'index.html' %}
{% load static %}
{% block content %}
    <main>
        <img src="{% static 'img/background.png' %}" alt="">
        <img src="{% static 'img/black_shadow.png' %}" alt="">
        <img src="{% static 'img/fog_1.png' %}" alt="">
        <img src="{% static 'img/fog_2.png' %}" alt="">
        <img src="{% static 'img/fog_3.png' %}" alt="">
        <img src="{% static 'img/fog_4.png' %}" alt="">
        <img src="{% static 'img/fog_5.png' %}" alt="">
        <img src="{% static 'img/fog_6.png' %}" alt="">
        <img src="{% static 'img/fog_7.png' %}" alt="">
        <img src="{% static 'img/logo.png' %}" alt="">
        <img src="{% static 'img/mountain_1.png' %}" alt="">
        <img src="{% static 'img/mountain_2.png' %}" alt="">
        <img src="{% static 'img/mountain_3.png' %}" alt="">
        <img src="{% static 'img/mountain_4.png' %}" alt="">
        <img src="{% static 'img/mountain_5.png' %}" alt="">
        <img src="{% static 'img/mountain_6.png' %}" alt="">
        <img src="{% static 'img/mountain_7.png' %}" alt="">
        <img src="{% static 'img/mountain_8.png' %}" alt="">
        <img src="{% static 'img/mountain_9.png' %}" alt="">
        <img src="{% static 'img/mountain_10.png' %}" alt="">
        <img src="{% static 'img/sun_rays.png' %}" alt="">
    </main>
{% endblock %}