*.pyc
__pycache__/
.idea/
db.sqlite3
env/
venv/
.env
.idea
media/
.vscode
.output
.idea
static_cdn/
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat-schedule
celerybeat.pid
log/
.DS_Store
