# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/

# virtualenv
env/
venv/
.env

media/
.vscode
.output
static/
log/

# pyenv
.python-version

# Django stuff:
*.log
local_settings.py
db.sqlite3
